RewriteEngine on
RewriteBase /

RewriteCond     %{REQUEST_URI}  ^/csb/api/finish_tutorial       [OR]
RewriteCond     %{REQUEST_URI}  ^/csb/api/image                 [OR]
RewriteCond     %{REQUEST_URI}  ^/csb/api/scistarter            [OR]
RewriteCond     %{REQUEST_URI}  ^/csb/api/ajax_login            [OR]
RewriteCond     %{REQUEST_URI}  ^/csb/api/passwordreset
RewriteRule     ^(.*)$          /csb/api/api.php

RewriteCond     %{REQUEST_URI}  ^/$
RewriteRule     ^(.*)$          /csb/$1             [L,R]

ErrorDocument 400 /csb/error/error.php
ErrorDocument 401 /csb/error/error.php
ErrorDocument 403 /csb/error/error.php?error=403
ErrorDocument 404 /csb/error/error.php?error=404
ErrorDocument 413 /csb/error/error.php
ErrorDocument 414 /csb/error/error.php
ErrorDocument 416 /csb/error/error.php
ErrorDocument 418 "I'm a teapot!"
ErrorDocument 500 /csb/error/error.php
ErrorDocument 503 /csb/error/error.php