/*
   These styles get over-written by theme styles
 */


body {
}

* {
    padding: 0;
    margin: 0;
}

.instructions {
    font-size: 0.8em;
    line-height: 1.3em;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

.small {
    font-size: .8em;
    font-weight: normal;
}

#form-input-box {
	display: table;
}

#form-input-row {
	display: table-row;
}

#form-input-left {
	width: 175px;
	display: table-cell;
	float: left;
}
#form-input-right {
	display: table-cell;
	float: right;
}
input[type=text],input[type=password] {
	width: 200px;
}

span .left {
	text-align: left;	
}

.red {
	color: red;
}

iframe {
	border: none;
}

.notSelected {
    opacity: 0.5;
}


@media screen and (max-width: 991px) {
    /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
    /* start of phone styles */

}

/* --------------------------------------------------------------------------------
   Header
   -------------------------------------------------------------------------------- */

    #logo {
        width: 400px;
    }

    #user {
        margin-top: 5px;
    }

/* --------------------------------------------------------------------------------
   Boxes
   -------------------------------------------------------------------------------- */

    #form-box {
        width: 50%;
        margin: 0 auto;
    }

/* --------------------------------------------------------------------------------
   Alerts
   -------------------------------------------------------------------------------- */

/* The Alert (background) */
.alert {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.alert-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 300px;
    color: #000000;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* --------------------------------------------------------------------------------
   App
   -------------------------------------------------------------------------------- */

#app-left {
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    width: 230px; /* basesize 1170px */
    height: 450px;
    position: relative;
}

#app-examples {
    position: absolute;
    top: 365px;
    height: 100px;
}

#app-examples h4 {
    font-weight: normal;
    margin-bottom: 5px;
}

.example-image {
    width: 72px;
    height: 72px;
    margin-right: 7px;
    border-radius: 5px;
}

#app-main {
    padding: 10px;
    border-radius: 10px;
    width: 520px;
    height: 450px;
}

#app-button-container {
    margin-right: 10px;
    height: 450px;
}

#app-canvas {
    width: 450px;
    height: 450px;
    background: #cccccc url('images/buttons/Loading.gif') center center no-repeat;
    border-radius: 5px;
}

.app-button {
    width: 60px;
    height: 60px;
}

#app-right {
    background: none;
    width: 340px;
    margin-left: 10px;
}

