/*
   These styles get over-written by theme styles
 */


body {
}

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}


@media screen and (max-width: 991px) {
    /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
    /* start of phone styles */

}

/* --------------------------------------------------------------------------------
   Header
   -------------------------------------------------------------------------------- */

    #logo {
        width: 400px;
    }

    #user {
        margin-top: 5px;
    }

/* --------------------------------------------------------------------------------
   Boxes
   -------------------------------------------------------------------------------- */

    #form-box {
        width: 50%;
        margin: 0 auto;
    }

/* --------------------------------------------------------------------------------
   App
   -------------------------------------------------------------------------------- */

.app-left {
    padding: 15px;
    margin-right: 20px;
    border-radius: 10px;
    width: 230px; /* basesize 1170px */
}

.app-main {
    padding: 10px;
    border-radius: 10px;
    width: 520px;
    height: 450px;
}

#app-button-container {
    margin-right: 10px;
    height: 450px;
}

#app-canvas {
    width: 450px;
    height: 450px;
    background: #cccccc url('images/buttons/Loading.gif') center center;
    border-radius: 5px;
}

.app-button {
    width: 60px;
    height: 60px;
}

.app-right {
    background: none;
}

