//// Colors ////
$universal-beige: #BDBAB3;
$main-background-color: white;
$navigation-background-color: #EEE;
$app-primary-background-color: #111;
$app-secondary-background-color: #252525;
$app-tertiary-background-color: #444;
$app-primary-text-color: #d2d2d2;
$app-secondary-text-color: #888;
// footer
$footer-color: #363636;
$footer-link-color: rgba(255,255,255,.8);
$footer-link-blue-color: #47a9ff;
$footer-link-hover-color: rgba(255,255,255,1);
$footer-link-hover-background-color: #eee;
// buttons
$button-color: #eee;
$button-background-color: #FFF8E9;
$button-primary-background-color: #19807F;
$button-success-background-color: #19807F;
$button-info-background-color: #424FA2;
$button-warning-background-color: #F3C749;
$button-danger-background-color:  #BC2132;
$button-scistarter-background-color: #f3753e;
$button-facebook-background-color: #3b5998;
$button-twitter-background-color: #55acee;
$button-google-background-color: #db4437;
$button-twitch-background-color: #6441a4;
$button-github-background-color: #28a745;
$required-color: #c6677c;
$flash-success-color: #19807F;
$flash-error-color: #cd3737;
$flash-warning-color: #F3C749;
$flash-info-color: #55acee;
$new-discussion-btn-color: #19807F;



// Sizes
$main-content-width: 1250px;
$app-image-window-width: 500px;
$app-image-window-height: 500px;

// Fonts
$default-font: 14px 'Roboto', 'Helvetica', sans-serif;
// Loaders
$loader-color: #f3f3e4;
$loader-foreground-color: #555;